<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Portfolio</h1>
    <p class="lead text-muted">I am happy you came here. Quite empty below, ha? Yes, I wish I could get back in time to the beggining of the study and learn GitHub then... Anyway, leave the past behind. If you have any questions, feel free to contact with me. More info at Contact page.</p>
    <p>
      <%= link_to 'More About Me', about_path, class: 'btn btn-primary my-2' %>
      <%= link_to 'Read My Blog', blogs_path, class: 'btn btn-secondary my-2' %>
      <%= link_to "New Portfolio (Admin Only)", new_portfolio_path, class: 'btn btn-primary my-2'  if logged_in?(:site_admin) %>
    </p>
  </div>
</section>