<h1>About Me</h1>

<hr>

<div class="row">
	<div class="col-md-4">
		<%= image_tag "about_me",width: "300", alt: "profile image" %>	
	</div>

	<div class="col-md-8">

		<p>I am a fresh University of Marii Sklodowska Curiee graduate, who is just starting the adventure with commercial programming. I was born in '92 so it makes me a bit older than young, still, I am happy about my life passage. Three years ago I discovered a perfect career path, which is programming - connection of borderless imagination, satisfying results and endless self development. Beginnings was tough, but through blood and tears &#9786;, sleepless nights (filled with bugs) and really hard work at University, where programming was one of the easiest subjects, I had finally polished the priceless skill of algorithmic thinking, what is, in my humble opinion, one of the most important programming skill.
		</p>
	</div>

	<p>Although, programming is very important in my life, it is in third, or even fourth place in the importance pyramid of my life. I have few hobbies also, so if you like sailing, playing football, or have love to the cinematography & literature, we are on the same team.
		</p>

</div>