<main role="main" class="inner cover">
  <h1 class="cover-heading">Home of my creativity</h1>
  <p class="lead">For now, this site is quite empty, but the site itself is one of my biggest project. Created with RoR, with the help of Jordan Hudgens, amazing teacher, who introduced me into the Gem World.</p>
  <p class="lead">
    <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</main>